@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=VT323&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #1d1d1d;
  background-image: url(../images/background/background.png);
  background-position: center;
  background-size: cover;
  user-select: none;
}

.container {
  width: 100%;
  max-width: 510px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: clamp(8px, 2vw, 12px);

  padding: clamp(25px, 4vw, 32px) /* top/bottom */ clamp(8px, 3vw, 25px); /* left/right */
  margin: 0 auto;

  border-radius: 10px;
  background: linear-gradient(145deg, #444649, #3e3f41, #3a3b3d);

  box-sizing: border-box;
}

.visor {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "VT323", monospace;
  font-size: clamp(2.5rem, 4vw, 4rem);

  text-align: center;
  text-transform: uppercase;
  color: rgb(2, 254, 197);

  padding: 0.3em 0.5em;
  border-radius: 10px;
  border: clamp(8px, 1.5vw, 15px) solid transparent;

  background:
    linear-gradient(#07110f, #0a0e0d) padding-box,
    linear-gradient(145deg, #131314, #0c0c0c, #121213) border-box;

  box-shadow:
    0 0 0 1px #000,
    inset 0 0 2px 3px #000;

  text-shadow:
    0 0 5px rgba(2, 254, 197, 0.8),
    0 0 10px rgba(2, 254, 197, 0.6),
    0 0 20px rgba(2, 254, 197, 0.4);
}

.visor.warning {
  color: rgb(255, 3, 86);
  animation: pulse 1s infinite;

  background:
    linear-gradient(#0e0305, #0e0305) padding-box,
    linear-gradient(145deg, #0f0d0e, #191516, #19171a) border-box;

  text-shadow:
    0 0 6px rgba(255, 3, 86, 0.7),
    0 0 12px rgba(255, 3, 86, 0.5),
    0 0 20px rgba(255, 3, 86, 0.3);
}

@keyframes pulse {
  0% {
    text-shadow:
      0 0 6px rgba(255, 3, 86, 0.6),
      0 0 12px rgba(255, 3, 86, 0.4),
      0 0 20px rgba(255, 3, 86, 0.2);
  }

  50% {
    text-shadow:
      0 0 10px rgba(255, 3, 86, 1),
      0 0 20px rgba(255, 3, 86, 0.8),
      0 0 40px rgba(255, 3, 86, 0.6);
  }

  100% {
    text-shadow:
      0 0 6px rgba(255, 3, 86, 0.6),
      0 0 12px rgba(255, 3, 86, 0.4),
      0 0 20px rgba(255, 3, 86, 0.2);
  }
}

#titulo {
  font-family: inherit;
  font-weight: 400;
  font-size: 0.9em;
  height: 1em;
}

#timer {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  height: 1em;
}

.led {
  align-self: center;
  width: clamp(12px, 2.5vw, 18px);
  height: clamp(12px, 2.5vw, 18px);
  border: 1px solid;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #424242, #111111 75%);
}

.led.wrong {
  background: radial-gradient(circle at 30% 30%, #ffc1c1, #ff0303 75%);
  box-shadow:
    0 0 6px rgba(255, 0, 0, 0.8),
    0 0 12px rgba(255, 0, 0, 0.6),
    0 0 20px rgba(255, 0, 0, 0.4);
}

.led.right {
  background: radial-gradient(circle at 30% 30%, #d8ffd8, #03ff42 75%);
  box-shadow:
    0 0 5px rgba(0, 255, 0, 0.8),
    0 0 10px rgba(0, 255, 0, 0.6),
    0 0 20px rgba(0, 255, 0, 0.4);
}

.game {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(145deg, #2f3235, #2b2d2e, #26282a);
  border: 1px solid;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: clamp(10px, 2vw, 16px);
  gap: 12px;
  perspective: 500px;
}

.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(6px, 2vw, 10px);
}

.item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  font-size: clamp(3em, 6vw, 4em);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a0a0a;
  transform: rotateY(180deg);
  transition: 0.2s;
  border-radius: 2px;
  border: 1px solid;
}

.item.boxOpen {
  transform: rotateY(0deg);
  box-shadow: 0px 0px 2px 3px #ffffff;
}

.item.boxMatch {
  transition: 0.15s;
  box-shadow: 0px 0px 2px 3px #02fec5;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(195deg, #afadaa, #a9a7a6);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: visible;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 3px #111111;
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.reset {
  height: clamp(2em, 6vw, 2em);
  grid-column: 2 / 4;
  color: #ffffff;
  background: linear-gradient(145deg, #b42623, #aa1e1d);

  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px #111111;

  font-family: "Roboto Mono", monospace;
  font-size: clamp(1.2em, 2.5vw, 1.2em);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.01s ease-in-out;
}

.reset:active {
  transform: scale(0.99);

  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.7),
    0px 0px 2px 1px #111111;
}

@media (max-width: 480px) {
  .visor {
    font-size: clamp(3.2rem, 8vw, 5.5rem);
    padding: 0.5em 0.6em;
    border-width: clamp(6px, 1vw, 10px);
  }
}
